@page "/newclient"
@inject HttpClient Http
@using DietMap.Client.BindingModels
@using System.Text
@using System.Net
@using Client.FormModels
@using DietMap.Client.Enumerations
@inject NavigationManager NavigationManager

<h1>New Client</h1>
<EditForm Model="@newClient" OnValidSubmit=NewClientRequest>
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <div class="newClientWrapper">
            <MatTextField class="newClientText" @bind-Value=newClient.FullName Label="Name"></MatTextField>
            <MatH5>Gender</MatH5>
            <MatRadioGroup @bind-Value=newClient.Gender TValue="Gender" >
                <MatRadioButton Value=Gender.Male TValue="Gender" Label="Male"></MatRadioButton>
                <MatRadioButton Value=Gender.Female TValue="Gender" Label="Female"></MatRadioButton>
            </MatRadioGroup>

        </div>
    </div>
    <div>
        <div class="newClientWrapper">
            <MatTextField class="newClientText" @bind-Value=newClient.Phone Label="Phone"></MatTextField>
        </div>
    </div>
    <div>
        <div class="newClientWrapper">
            <MatTextField class="newClientText" @bind-Value=newClient.Email Label="Email"></MatTextField>
        </div>
    </div>
    <div>
        <div class="newClientWrapper">
            <MatButton class="submitMeasurement" Raised="true" >Submit</MatButton>
        </div>
    </div>
</EditForm>

@code {
    public NewClientModel newClient {get;set;} = new NewClientModel();
    async Task NewClientRequest()
    {
        newClient.TrimName();
        var stringPayload =  JsonConvert.SerializeObject(newClient);
        var httpContent = new StringContent(stringPayload, Encoding.UTF8, "application/json");
        var result = await Http.PostAsync("https://us-central1-dietmap-c519e.cloudfunctions.net/clientsApi/client",httpContent);
        if (result.StatusCode == HttpStatusCode.OK || result.StatusCode == HttpStatusCode.Created)
        {
            NavigationManager.NavigateTo("clientlist");
        }
    }
}
<style>
.newClientText{
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 4px 4px 0px #4B0082;
}
.newClientWrapper{
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    text-align: center;
}
</style>